html, body {
  height: 100%;
  margin: 0;
}
#main {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3rem;
  background-color: whitesmoke;
  height: 100%;


}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  margin: .1rem;
  border: .5rem solid black;
}
/* #name {

} */
#navlinks {
  display: flex;
flex-direction: row;
justify-content: space-evenly;

}
.navlinks,
.navlinks:visited{
  color: black;
  text-decoration: none;
  margin: 0 .5rem 0 .5rem;
}

.navlinks:hover {
  color: white;
  -webkit-text-stroke-width: .05rem;
  -webkit-text-stroke-color: black
}
img {
  width: 45rem;
  height: 30rem;
  padding: 1rem;
  margin-top: 4rem;
}
#brb {
  display: flex;
 justify-content: center;
}
